@model SLUIDBModels.AddContactRequest

<h3>Please select a relationship type for this contact</h3>

@using (Html.BeginForm("AddContact", "Contact", FormMethod.Post))

{


<div class="form-horizontal">
    <div class="form-group">
        <div class="col-md-10">
            @Html.HiddenFor(Model => Model.ObjectID)
        </div>
    </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.HiddenFor(Model => Model.IRISID)
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-10">
                @Html.DropDownListFor(Model => Model.RelationshipTypeID, new SelectList(Model.RelationshipList, "RelationshipTypeID", "Name"), "Please choose a relationship type", new { @class = "form-control" })
                @Html.ValidationMessageFor(Model => Model.RelationshipTypeID, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="LinkButton" />
            </div>
        </div>
    </div>





    }
