body {
    padding-top: 100px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top: 36px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse {
    background-color: #243746;
    height: 133px;
    color:white;
}

.HorizonsSingleTableLine {
    height: 42px;
    background-color: white; 
    color:black;
    font-family: Calibri,Calibri,Calibri;
    font-size:large        
   }

.AddButton {
 
    background-color: #007DA5;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    color: white;
    text-decoration: none;
}

.DeleteButton {   
    background-color: #919BA2;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    color: white;
    text-decoration: none;
}

.LinkButton {
    background-color: #243746;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    color: white;
    text-decoration: none;
}

.noBorder {
    border: none;
}
